.faq {
  padding: 60px 0;
  background: $global_bg_color_1;
}
.faq__container {
  max-width: 800px;
  margin: 0 auto;
  width: 100%;
  padding: 0 20px;
}
.faq__title {
  text-align: center;
  font-size: 30px;
  color: $global_color_1;
  font-weight: 600;
}
.faq__nav {
  margin: 0;
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  @include xs {
    flex-direction: column;
  }

  a {
    font-size: 18px;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    background: #fff;
    padding: 10px;
    border-radius: 5px;
    margin: 0 5px 10px 5px;
    color: #146c70;
    transition: 0.2s ease all;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 10%);
    &:hover {
      box-shadow: 4px 4px 10px rgba(0, 0, 0, 10%);
    }
    @include xs {
      display: block;
    }
  }
}
.faq__group-title {
  margin-bottom: 1rem;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.2;
  color: inherit;
  margin-top: 30px;
  font-size: 28px;
}
.faq__block {
  background: #fff;
  padding: 25px;
  box-shadow: 0 3px 25px rgba(0, 0, 0, 10%);
  border-radius: 20px;
}

.faq__item {
  user-select: none;
  &:not(:last-child) {
    margin: 0 0 10px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  }
}
.faq-q {
  cursor: pointer;
  position: relative;
  padding: 5px 0 5px 30px;
  transition: 0.2s ease all;
  &:hover {
    padding-top: 2px;
    padding-bottom: 8px;
  }
  h5 {
    pointer-events: none;
    font-weight: 500;
    font-size: 18px;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
  }
  &:before,
  &:after {
    display: inline-block;
    content: '';
    background: rgba(0, 0, 0, 0.3);
    width: 16px;
    height: 2px;
    position: absolute;
    top: 20px;
    left: 0;
    transition: 0.2s ease all;
  }
  &:after {
    transform: rotate(90deg);
  }
  &.opened:before {
    transform: rotate(45deg);
  }
  &.opened:after {
    transform: rotate(-45deg);
  }
  &.opened + .faq-a{
    display: block;
  }
}
.faq-a {
  display: none;
  padding-left: 40px;
  padding-bottom: 20px;
  font-style: italic;
  font-size: 18px;
}